.contener{
    position: relative;
    width: 100%;
}

.buttonB{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6em;
    height: 50px;
    border-radius: 10px;
}
.buttonB:hover{
    background: #15ef18;
}
.buttonB:active{
    background: #fc0707;
}